<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación Exitosa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Creación Exitosa</h2>
    <p>Felicidades, el contacto se ha creado exitosamente.</p>
    <a href="{% url 'crear_contacto' %}" class="btn btn-primary">Volver al formulario</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eaQ8mWlO6MYlZBTO3qVufDviyRq3PPHAfQeUKBmEj5EdA1s3B1d+8Uq4vDSc5J" crossorigin="anonymous"></script>
</body>
</html>
